.photo {
    height: 500px;
    width: 100%;
  }

  a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
  }